In [123]:
#Importing neccesary packages:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [124]:
#Importing the required dataset:
df_o1=pd.read_csv('Players_Medal_list_Olympics.csv')
df_o2=pd.read_csv('Medal_List_Olympics.csv')
df_a1=pd.read_csv('Players_Medal_List_Asian.csv')
df_a2=pd.read_csv('Medal_List_Asian.csv')

# Q6: Sport wise top 5 athletes of various countries:

In [125]:
#Same as above. Instead of inputs as [Country, Year]; now we'll have inputs as [Country, Sport, Year]

**Currently we'll work with top 5 athletes corresponding to each country, overall etc.**

In [126]:
sp=input("Enter the sport:")
nat=input("Enter the Nation's name:")
yr=input("Enter the year:")

In [127]:
if yr!='Overall':
    yr=int(yr)

In [128]:
yr

'Overall'

In [129]:
df_o1

,Name,Gender,Country,Year,Host_City,Sport,Event,Sport_Type,Gold,Silver,Bronze
0,Takashi Ono,M,Japan,1952,Helsinki,Gymnastics,Gymnastics Men's Horse Vault,Team,0,0,1
1,Dharam Singh Gill,M,India,1952,Helsinki,Hockey,Hockey Men's Hockey,Team,1,0,0
2,Randhir Singh Gentle,M,India,1952,Helsinki,Hockey,Hockey Men's Hockey,Team,1,0,0
3,Chinadorai Deshmutu,M,India,1952,Helsinki,Hockey,Hockey Men's Hockey,Team,1,0,0
4,Shiro Hashizume,M,Japan,1952,Helsinki,Swimming,"Swimming Men's 1,500 metres Freestyle",Individual,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
3344,Ulugbek Rashitov,M,Uzbekistan,2020,Tokyo,Taekwondo,Men's 68 kg,Individual,1,0,0
3345,Akbar Djuraev,M,Uzbekistan,2020,Tokyo,Weightlifting,Men's 109 kg,Individual,1,0,0
3346,Bakhodir Jalolov,M,Uzbekistan,2020,Tokyo,Boxing,Men's super heavyweight,Individual,1,0,0
3347,Davlat Bobonov,M,Uzbekistan,2020,Tokyo,Judo,Men's 90 kg,Individual,0,0,1
3348,Bekzod Abdurakhmonov,M,Uzbekistan,2020,Tokyo,Wrestling,Men's freestyle 74 kg,Individual,0,0,1

In [130]:
df1=df_o1[:]

In [131]:
df1

,Name,Gender,Country,Year,Host_City,Sport,Event,Sport_Type,Gold,Silver,Bronze
0,Takashi Ono,M,Japan,1952,Helsinki,Gymnastics,Gymnastics Men's Horse Vault,Team,0,0,1
1,Dharam Singh Gill,M,India,1952,Helsinki,Hockey,Hockey Men's Hockey,Team,1,0,0
2,Randhir Singh Gentle,M,India,1952,Helsinki,Hockey,Hockey Men's Hockey,Team,1,0,0
3,Chinadorai Deshmutu,M,India,1952,Helsinki,Hockey,Hockey Men's Hockey,Team,1,0,0
4,Shiro Hashizume,M,Japan,1952,Helsinki,Swimming,"Swimming Men's 1,500 metres Freestyle",Individual,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
3344,Ulugbek Rashitov,M,Uzbekistan,2020,Tokyo,Taekwondo,Men's 68 kg,Individual,1,0,0
3345,Akbar Djuraev,M,Uzbekistan,2020,Tokyo,Weightlifting,Men's 109 kg,Individual,1,0,0
3346,Bakhodir Jalolov,M,Uzbekistan,2020,Tokyo,Boxing,Men's super heavyweight,Individual,1,0,0
3347,Davlat Bobonov,M,Uzbekistan,2020,Tokyo,Judo,Men's 90 kg,Individual,0,0,1
3348,Bekzod Abdurakhmonov,M,Uzbekistan,2020,Tokyo,Wrestling,Men's freestyle 74 kg,Individual,0,0,1

In [132]:
df1['Total']=df1['Gold']+df1['Silver']+df1['Bronze']

C:\Users\DEEPAK~1\AppData\Local\Temp/ipykernel_4680/2827583429.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Total']=df1['Gold']+df1['Silver']+df1['Bronze']

In [133]:
df1

,Name,Gender,Country,Year,Host_City,Sport,Event,Sport_Type,Gold,Silver,Bronze,Total
0,Takashi Ono,M,Japan,1952,Helsinki,Gymnastics,Gymnastics Men's Horse Vault,Team,0,0,1,1
1,Dharam Singh Gill,M,India,1952,Helsinki,Hockey,Hockey Men's Hockey,Team,1,0,0,1
2,Randhir Singh Gentle,M,India,1952,Helsinki,Hockey,Hockey Men's Hockey,Team,1,0,0,1
3,Chinadorai Deshmutu,M,India,1952,Helsinki,Hockey,Hockey Men's Hockey,Team,1,0,0,1
4,Shiro Hashizume,M,Japan,1952,Helsinki,Swimming,"Swimming Men's 1,500 metres Freestyle",Individual,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
3344,Ulugbek Rashitov,M,Uzbekistan,2020,Tokyo,Taekwondo,Men's 68 kg,Individual,1,0,0,1
3345,Akbar Djuraev,M,Uzbekistan,2020,Tokyo,Weightlifting,Men's 109 kg,Individual,1,0,0,1
3346,Bakhodir Jalolov,M,Uzbekistan,2020,Tokyo,Boxing,Men's super heavyweight,Individual,1,0,0,1
3347,Davlat Bobonov,M,Uzbekistan,2020,Tokyo,Judo,Men's 90 kg,Individual,0,0,1,1
3348,Bekzod Abdurakhmonov,M,Uzbekistan,2020,Tokyo,Wrestling,Men's freestyle 74 kg,Individual,0,0,1,1

In [134]:
if nat!='Overall':
    if yr!='Overall':
        df1=df1[df1['Sport']==sp]
        df1=df1[df1["Country"]==nat]
        df1=df1[df1['Year']==yr].reset_index(drop=True)
        df1=df1.groupby(['Name'])['Gold','Silver','Bronze','Total'].sum().reset_index()
        df1=df1.sort_values(['Gold','Silver','Bronze'], ascending=False)
        df1=df1.reset_index(drop=True)
        df1=df1[:5]
    else:
        df1=df1[df1['Sport']==sp]
        df1=df1[df1["Country"]==nat]
        df1=df1.groupby(['Name'])['Gold','Silver','Bronze','Total'].sum().reset_index()
        df1=df1.sort_values(['Gold','Silver','Bronze'], ascending=False)
        df1=df1.reset_index(drop=True)
        df1=df1[:5]
else:
    if yr!='Overall':
        df1=df1[df1['Sport']==sp]
        df1=df1[df1['Year']==yr]
        df1=df1.groupby(['Name','Gender','Country'])['Gold','Silver','Bronze','Total'].sum().reset_index()
        df1=df1.sort_values(['Gold','Silver','Bronze'], ascending=False)
        df1=df1.reset_index(drop=True)
        df1=df1[:5]   
    else:
        df1=df1[df1['Sport']==sp]
        df1=df1.groupby(['Name','Gender','Country'])['Gold','Silver','Bronze','Total'].sum().reset_index()
        df1=df1.sort_values(['Gold','Silver','Bronze'], ascending=False)
        df1=df1.reset_index(drop=True)
        df1=df1[:5]

C:\Users\DEEPAK~1\AppData\Local\Temp/ipykernel_4680/1640984365.py:27: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df1=df1.groupby(['Name','Gender','Country'])['Gold','Silver','Bronze','Total'].sum().reset_index()

In [135]:
df1

                       Name Gender Country  Gold  Silver  Bronze  Total
0        Mutaz Essa Barshim      M   Qatar     1       1       1      3
1               Wang Junxia      F   China     1       1       0      2
2               Gong Lijiao      F   China     1       0       1      2
3  Koji Alexander Murofushi      M   Japan     1       0       1      2
4                  Liu Hong      F   China     1       0       1      2

**We have successfullly completed Olympics data analysis of Q5 here and generated  required tables. There would not be any visualizations here. 
The output would simply be 5 lines of output of the corresponding top athletes.**

**Now, we'll work on Asian Games for the same question**

In [136]:
sp=input("Enter the sport:")
nat=input("Enter the Nation's name:")
yr=input("Enter the year:")

In [137]:
if yr!='Overall':
    yr=int(yr)

In [138]:
yr

'Overall'

In [139]:
df_a1

,Player_Name,Gender,Country,Year,Sport,Event,Sport_Type,Gold,Silver,Bronze
0,Soichi Tamoi,M,Japan,1951,Athletics,"10,000 m",Single,1,0,0
1,Ryosuke Takasugi,M,Japan,1951,Athletics,"10,000 m",Single,0,1,0
2,Gurbachan Singh,M,India,1951,Athletics,"10,000 m",Single,0,0,1
3,Mahabir Prasad,M,India,1951,Athletics,"10,000 m walk",Single,1,0,0
4,Takeo Sato,M,Japan,1951,Athletics,"10,000 m walk",Single,0,1,0
...,...,...,...,...,...,...,...,...,...,...
31015,Tomohiro Araya,Unknown,Japan,2018,Wushu,Taijiquan / Taijijian,Single,0,1,0
31016,Nyein Chan Ko Ko,Unknown,Myanmar,2018,Wushu,Taijiquan / Taijijian,Single,0,0,1
31017,Lindswell Kwok,F,Indonesia,2018,Wushu,Taijiquan / Taijijian,Single,1,0,0
31018,Juanita Mok,F,Hong Kong,2018,Wushu,Taijiquan / Taijijian,Single,0,1,0
31019,Agatha Wong,F,Philippines,2018,Wushu,Taijiquan / Taijijian,Single,0,0,1

In [140]:
df1=df_a1[:]

In [141]:
df1

,Player_Name,Gender,Country,Year,Sport,Event,Sport_Type,Gold,Silver,Bronze
0,Soichi Tamoi,M,Japan,1951,Athletics,"10,000 m",Single,1,0,0
1,Ryosuke Takasugi,M,Japan,1951,Athletics,"10,000 m",Single,0,1,0
2,Gurbachan Singh,M,India,1951,Athletics,"10,000 m",Single,0,0,1
3,Mahabir Prasad,M,India,1951,Athletics,"10,000 m walk",Single,1,0,0
4,Takeo Sato,M,Japan,1951,Athletics,"10,000 m walk",Single,0,1,0
...,...,...,...,...,...,...,...,...,...,...
31015,Tomohiro Araya,Unknown,Japan,2018,Wushu,Taijiquan / Taijijian,Single,0,1,0
31016,Nyein Chan Ko Ko,Unknown,Myanmar,2018,Wushu,Taijiquan / Taijijian,Single,0,0,1
31017,Lindswell Kwok,F,Indonesia,2018,Wushu,Taijiquan / Taijijian,Single,1,0,0
31018,Juanita Mok,F,Hong Kong,2018,Wushu,Taijiquan / Taijijian,Single,0,1,0
31019,Agatha Wong,F,Philippines,2018,Wushu,Taijiquan / Taijijian,Single,0,0,1

In [142]:
df1['Total']=df1['Gold']+df1['Silver']+df1['Bronze']

C:\Users\DEEPAK~1\AppData\Local\Temp/ipykernel_4680/2827583429.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Total']=df1['Gold']+df1['Silver']+df1['Bronze']

In [143]:
df1

,Player_Name,Gender,Country,Year,Sport,Event,Sport_Type,Gold,Silver,Bronze,Total
0,Soichi Tamoi,M,Japan,1951,Athletics,"10,000 m",Single,1,0,0,1
1,Ryosuke Takasugi,M,Japan,1951,Athletics,"10,000 m",Single,0,1,0,1
2,Gurbachan Singh,M,India,1951,Athletics,"10,000 m",Single,0,0,1,1
3,Mahabir Prasad,M,India,1951,Athletics,"10,000 m walk",Single,1,0,0,1
4,Takeo Sato,M,Japan,1951,Athletics,"10,000 m walk",Single,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...
31015,Tomohiro Araya,Unknown,Japan,2018,Wushu,Taijiquan / Taijijian,Single,0,1,0,1
31016,Nyein Chan Ko Ko,Unknown,Myanmar,2018,Wushu,Taijiquan / Taijijian,Single,0,0,1,1
31017,Lindswell Kwok,F,Indonesia,2018,Wushu,Taijiquan / Taijijian,Single,1,0,0,1
31018,Juanita Mok,F,Hong Kong,2018,Wushu,Taijiquan / Taijijian,Single,0,1,0,1
31019,Agatha Wong,F,Philippines,2018,Wushu,Taijiquan / Taijijian,Single,0,0,1,1

In [144]:
if nat!='Overall':
    if yr!='Overall':
        df1=df1[df1['Sport']==sp]
        df1=df1[df1["Country"]==nat]
        df1=df1[df1['Year']==yr].reset_index(drop=True)
        df1=df1.groupby(['Player_Name'])['Gold','Silver','Bronze','Total'].sum().reset_index()
        df1=df1.sort_values(['Gold','Silver','Bronze'], ascending=False)
        df1=df1.reset_index(drop=True)
        df1=df1[:5]
    else:
        df1=df1[df1['Sport']==sp]
        df1=df1[df1["Country"]==nat]
        df1=df1.groupby(['Player_Name'])['Gold','Silver','Bronze','Total'].sum().reset_index()
        df1=df1.sort_values(['Gold','Silver','Bronze'], ascending=False)
        df1=df1.reset_index(drop=True)
        df1=df1[:5]
else:
    if yr!='Overall':
        df1=df1[df1['Sport']==sp]
        df1=df1[df1['Year']==yr]
        df1=df1.groupby(['Player_Name','Gender','Country'])['Gold','Silver','Bronze','Total'].sum().reset_index()
        df1=df1.sort_values(['Gold','Silver','Bronze'], ascending=False)
        df1=df1.reset_index(drop=True)
        df1=df1[:5]   
    else:
        df1=df1[df1['Sport']==sp]
        df1=df1.groupby(['Player_Name','Gender','Country'])['Gold','Silver','Bronze','Total'].sum().reset_index()
        df1=df1.sort_values(['Gold','Silver','Bronze'], ascending=False)
        df1=df1.reset_index(drop=True)
        df1=df1[:5]

C:\Users\DEEPAK~1\AppData\Local\Temp/ipykernel_4680/375570556.py:27: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df1=df1.groupby(['Player_Name','Gender','Country'])['Gold','Silver','Bronze','Total'].sum().reset_index()

In [145]:
df1

           Player_Name Gender   Country  Gold  Silver  Bronze  Total
0       Anat Ratanapol      M  Thailand     6       1       1      8
1  Shigenobu Murofushi      M     Japan     5       1       0      6
2     Mohamed Suleiman      M     Qatar     5       0       1      6
3   Maryam Yusuf Jamal      F   Bahrain     5       0       0      5
4       Toyoko Yoshino      F     Japan     5       0       0      5

**We've completed analysis of both Asian Games and Olympic games**