In this question, the primary thing that needs to be done is the comparison between the Asian and Olympic games across the years, i.e. the comparison is made between the years in which Asian games take place and immediate next year in which Olympic games take place.

Now, the reason why we are doing this is to analyse the performance of a country or a player between Asian and Olympic games year-wise, and this thing will actually help to derive the insight into how the performance of a country vary between Asian and Olympic games, let's say for India I made the comparison between Asian games of 1962 and Olympic games of 1964, Now; as a result, I will get a table/list of players and also the medal count for in both years, once I get this final table, then I can answer the questions like is there any increase or decrease in performance of India from 1962 Asian to 1964 Olympics? I can also tell which players won the medal Asian and Olympic, both? What is the difference between medals won in the 1962 Asian and 1964 Olympics? Whether the player performs well in the 1962 Asian or 1964 Olympics? What are the sports in which players participate both in the Asian and Olympic, and who are those players? So we can easily answer these kinds of questions.

Also, we can make (country, sport) comparison between Asian and immediate next Olympics, let's say for India I want do want in Athletics which players participated and win a medal in both Asian and immediate next Olympic? So India can focus on those sports more in which players perform well in both the Asian and Olympic.

In [1]:
import pandas as pd
import numpy as np

### Part-1

In the first part the main focus is on the countries, so for any particular country let's say for India we get a detailed analysis table from which we can derive various insights like we can find the players who won medals in asian and next immediate olympic, So we can call them as most valuable players.

In [2]:
def CountryWiseAthleteComparison(country): # Function which return Country wise analysis
    asian=pd.read_csv("Players_Medal_List_Asian.csv") # Asian Players and Medals dataset
    olympic=pd.read_csv("Players_Medal_List_Olympics.csv") # Olympic Players and Medal dataset
    
    asian_years=asian["Year"].unique() #List contain asian game years
    olympic_years=olympic["Year"].unique() #List contain olympic game yers
    
    df=pd.DataFrame(columns=["Country","Player","Gender","Year_Asian","Year_Olympic","Sport","Gold_Olympic",
                             "Gold_Asian","Silver_Olympic","Silver_Asian","Bronze_Olympic","Bronze_Asian"])  # This is how our resulting dataframe looks like
    
    for yasian,yolympic in zip(asian_years,olympic_years): #looping through pairs of year [asian year,next olympic year]
        asian_df1=asian[(asian["Country"]==country) & (asian["Year"]==yasian)]
        olympic_df1=olympic[(olympic["Country"]==country) & (olympic["Year"]==yolympic)]
        
        asian_df1=asian_df1[asian_df1["Sport_Type"]=="Single"]
        asian_df1.drop(columns=["Sport_Type","Event"],inplace=True)
        
        asian_df1=asian_df1.groupby(by=["Year","Country","Gender","Sport","Player_Name"]).sum().reset_index()
        
        olympic_df1=olympic_df1[olympic_df1["Sport_Type"]=="Individual"]
        olympic_df1.drop(columns=["Sport_Type","Host_City","Event"],inplace=True)

        olympic_df1=olympic_df1.groupby(by=["Year","Country","Gender","Sport","Name"]).sum().reset_index()
        
        result=olympic_df1.merge(asian_df1,left_on="Name",right_on="Player_Name",suffixes=('_Olympic','_Asian'))
        
        for x in result.values:
            df.loc[len(df.index)]=[x[1],x[4],x[2],x[8],x[0],x[11],x[5],x[13],x[6],x[14],x[7],x[15]]
            
    return df

In [3]:
result_country=CountryWiseAthleteComparison("India")
result_country.head()

,Country,Player,Gender,Year_Asian,Year_Olympic,Sport,Gold_Olympic,Gold_Asian,Silver_Olympic,Silver_Asian,Bronze_Olympic,Bronze_Asian
0,India,Karnam Malleswari,F,1998,2000,Weightlifting,0,0,0,1,1,0
1,India,Gagan Narang,M,2010,2012,Shooting,0,0,0,1,1,0
2,India,Vijay Kumar,M,2010,2012,Shooting,0,0,1,0,0,2
3,India,P. V. Sindhu,F,2018,2020,Badminton,0,0,0,1,1,0
4,India,Neeraj Chopra,M,2018,2020,Athletics,1,1,0,0,0,0

Now we get the final summary table for India and by using this table we derive various insights, like we can find the players who wom medal in asian and immediate next olympic, we can also find males and females participation in asian and compare it with immediate next olympic

In [4]:
overall_comparison=result_country[["Player","Year_Asian","Year_Olympic","Sport"]]
overall_comparison["Total_Asian"]=result_country["Gold_Asian"]+result_country["Silver_Asian"]+result_country["Bronze_Asian"]
overall_comparison["Total_Olympic"]=result_country["Gold_Olympic"]+result_country["Silver_Olympic"]+result_country["Bronze_Olympic"]

C:\Users\DEEPAK~1\AppData\Local\Temp/ipykernel_8784/4218953189.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  overall_comparison["Total_Asian"]=result_country["Gold_Asian"]+result_country["Silver_Asian"]+result_country["Bronze_Asian"]
C:\Users\DEEPAK~1\AppData\Local\Temp/ipykernel_8784/4218953189.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  overall_comparison["Total_Olympic"]=result_country["Gold_Olympic"]+result_country["Silver_Olympic"]+result_country["Bronze_Olympic"]

In [5]:
overall_comparison.sort_values(by=["Total_Asian","Total_Olympic"],ascending=False)

,Player,Year_Asian,Year_Olympic,Sport,Total_Asian,Total_Olympic
2,Vijay Kumar,2010,2012,Shooting,2,1
0,Karnam Malleswari,1998,2000,Weightlifting,1,1
1,Gagan Narang,2010,2012,Shooting,1,1
3,P. V. Sindhu,2018,2020,Badminton,1,1
4,Neeraj Chopra,2018,2020,Athletics,1,1
5,Bajrang Punia,2018,2020,Wrestling,1,1

So here we can see those players who wins atleast one medal in the asian and immediate next olympic games,and from this we get to know about the sports in which players win medals successively in asian and olympic games.

In [6]:
gold_comparison=result_country[["Player","Year_Asian","Year_Olympic","Sport","Gold_Asian","Gold_Olympic"]]
gold_comparison.sort_values(by=["Gold_Asian","Gold_Olympic"],ascending=False)

,Player,Year_Asian,Year_Olympic,Sport,Gold_Asian,Gold_Olympic
4,Neeraj Chopra,2018,2020,Athletics,1,1
5,Bajrang Punia,2018,2020,Wrestling,1,0
0,Karnam Malleswari,1998,2000,Weightlifting,0,0
1,Gagan Narang,2010,2012,Shooting,0,0
2,Vijay Kumar,2010,2012,Shooting,0,0
3,P. V. Sindhu,2018,2020,Badminton,0,0

Here as we can see from gold comparison for India and we can see "Neeraj Chopra" is the only player who won Gold in 2018 Asian and immediate next 2020 Olympic in "Athletics" sport, and also we can see those players won a medal successively in asian and olympic but not the gold medal.

In [7]:
silver_comparison=result_country[["Player","Year_Asian","Year_Olympic","Sport","Silver_Asian","Silver_Olympic"]]
silver_comparison.sort_values(by=["Silver_Asian","Silver_Olympic"],ascending=False)

,Player,Year_Asian,Year_Olympic,Sport,Silver_Asian,Silver_Olympic
0,Karnam Malleswari,1998,2000,Weightlifting,1,0
1,Gagan Narang,2010,2012,Shooting,1,0
3,P. V. Sindhu,2018,2020,Badminton,1,0
2,Vijay Kumar,2010,2012,Shooting,0,1
4,Neeraj Chopra,2018,2020,Athletics,0,0
5,Bajrang Punia,2018,2020,Wrestling,0,0

here we can see that there is no player who won silver in both asian and next olympic and also the players who won atleast one medal successively in asian and olympic but not the silver medal.

In [8]:
bronze_comparison=result_country[["Player","Year_Asian","Year_Olympic","Sport","Bronze_Asian","Bronze_Olympic"]]
bronze_comparison.sort_values(by=["Bronze_Asian","Bronze_Olympic"],ascending=False)

,Player,Year_Asian,Year_Olympic,Sport,Bronze_Asian,Bronze_Olympic
2,Vijay Kumar,2010,2012,Shooting,2,0
0,Karnam Malleswari,1998,2000,Weightlifting,0,1
1,Gagan Narang,2010,2012,Shooting,0,1
3,P. V. Sindhu,2018,2020,Badminton,0,1
5,Bajrang Punia,2018,2020,Wrestling,0,1
4,Neeraj Chopra,2018,2020,Athletics,0,0

here we can see that there is no player who won bronze successively in asian and olympic games, also we can see that "vijay kumar" won maximum(2) bronze in 2010 asian in "Shooting" but no bronze in next olympic.

In [9]:
female_comparison=result_country[result_country["Gender"]=="F"][["Player","Year_Asian","Year_Olympic","Sport","Gold_Asian","Gold_Olympic","Silver_Asian","Silver_Olympic","Bronze_Asian","Bronze_Olympic"]]
female_comparison

,Player,Year_Asian,Year_Olympic,Sport,Gold_Asian,Gold_Olympic,Silver_Asian,Silver_Olympic,Bronze_Asian,Bronze_Olympic
0,Karnam Malleswari,1998,2000,Weightlifting,0,0,1,0,0,1
3,P. V. Sindhu,2018,2020,Badminton,0,0,1,0,0,1

here we can see the those female players of india who won medal successively in asian and olympic games.

In [10]:
male_comparison=result_country[result_country["Gender"]=="M"][["Player","Year_Asian","Year_Olympic","Sport","Gold_Asian","Gold_Olympic","Silver_Asian","Silver_Olympic","Bronze_Asian","Bronze_Olympic"]]
male_comparison

,Player,Year_Asian,Year_Olympic,Sport,Gold_Asian,Gold_Olympic,Silver_Asian,Silver_Olympic,Bronze_Asian,Bronze_Olympic
1,Gagan Narang,2010,2012,Shooting,0,0,1,0,0,1
2,Vijay Kumar,2010,2012,Shooting,0,0,0,1,2,0
4,Neeraj Chopra,2018,2020,Athletics,1,1,0,0,0,0
5,Bajrang Punia,2018,2020,Wrestling,1,0,0,0,0,1

here we can see the male players of india who won atleast one medal succesively in asian and olympic games.

In [11]:
asian=pd.read_csv("Players_Medal_List_Asian.csv")
countries=asian["Country"].unique()
max_player_country=[]

for x in countries:
    result_country=CountryWiseAthleteComparison(x)
    max_player_country.append([x,len(result_country)])
max_player_country=sorted(max_player_country,key=lambda x:x[1])

In [12]:
max_player_country[-1]

['China', 251]

So, China is the country in which maximum number of players won atleast one medal successively in Asian and olympic games.

In [13]:
max_player_gold_country=[]

for x in countries:
    result_country=CountryWiseAthleteComparison(x)
    result_country=result_country[(result_country["Gold_Asian"]>=1) & (result_country["Gold_Olympic"]>=1)]
    max_player_gold_country.append([x,len(result_country)])
max_player_gold_country=sorted(max_player_gold_country,key=lambda x:x[1])

In [14]:
max_player_gold_country[-1]

['China', 77]

Again China is the country in which maximum number of players won atleast one Gold medal successively in Asian and olympic games.

### Part -2

In the second part we can get detailed analysis for a particular country and also for a particular sport, let's say for India we want to find in "Athletics" the list of players who won medal in both asian and immediate next olympic, so in that way we can also do sport wise analysis and find in which sport a country has comparitively better players.

In [15]:
def CountrySportWiseAthleteComparison(country,sport):
    asian=pd.read_csv("Players_Medal_List_Asian.csv")
    olympic=pd.read_csv("Players_Medal_List_Olympics.csv")
    
    asian_years=asian["Year"].unique()
    olympic_years=olympic["Year"].unique()
    
    df=pd.DataFrame(columns=["Country","Sport","Player","Gender","Year_Asian","Year_Olympic","Gold_Olympic",
                             "Gold_Asian","Siver_Olympic","Silver_Asian","Bronze_Olympic","Bronze_Asian"])
    
    for yasian,yolympic in zip(asian_years,olympic_years):
        asian_df1=asian[(asian["Country"]==country) & (asian["Year"]==yasian) & (asian["Sport"]==sport)]
        olympic_df1=olympic[(olympic["Country"]==country) & (olympic["Year"]==yolympic) & (olympic["Sport"]==sport)]
        
        asian_df1=asian_df1[asian_df1["Sport_Type"]=="Single"]
        asian_df1.drop(columns=["Sport_Type","Event"],inplace=True)

        asian_df1=asian_df1.groupby(by=["Year","Country","Sport","Gender","Player_Name"]).sum().reset_index()
        
        olympic_df1=olympic_df1[olympic_df1["Sport_Type"]=="Individual"]
        olympic_df1.drop(columns=["Sport_Type","Host_City","Event"],inplace=True)

        olympic_df1=olympic_df1.groupby(by=["Year","Country","Sport","Gender","Name"]).sum().reset_index()
        
        result=olympic_df1.merge(asian_df1,left_on="Name",right_on="Player_Name",suffixes=('_Olympic','_Asian'))
        
        for x in result.values:
            df.loc[len(df.index)]=[x[1],x[2],x[4],x[3],x[8],x[0],x[5],x[13],x[6],x[14],x[7],x[15]]
    
    return df

In [16]:
result=CountrySportWiseAthleteComparison("India","Athletics")
result

,Country,Sport,Player,Gender,Year_Asian,Year_Olympic,Gold_Olympic,Gold_Asian,Siver_Olympic,Silver_Asian,Bronze_Olympic,Bronze_Asian
0,India,Athletics,Neeraj Chopra,M,2018,2020,1,1,0,0,0,0

like this we can do analysis for any particular country and any particular sport and get list of players who succesively won medals in asian and olympic games.

In [17]:
asian=pd.read_csv("Players_Medal_List_Asian.csv")
games=asian["Sport"].unique()

In [18]:
best_sports=[]
for x in games:
    result_country_sport=CountrySportWiseAthleteComparison("India",x)
    best_sports.append([x,len(result_country_sport)])

best_sports=sorted(best_sports,key=lambda x:x[1])

In [19]:
best_sports[-5:]

[['Athletics', 1],
 ['Weightlifting', 1],
 ['Wrestling', 1],
 ['Badminton', 1],
 ['Shooting', 2]]

here we get the list of top 5 sports in India in which players won atleast one medal succesively in asian and olympic games.

In [20]:
max_player_sport=best_sports[-1][0]
result_country_sport=CountrySportWiseAthleteComparison("India",max_player_sport)
result_country_sport

,Country,Sport,Player,Gender,Year_Asian,Year_Olympic,Gold_Olympic,Gold_Asian,Siver_Olympic,Silver_Asian,Bronze_Olympic,Bronze_Asian
0,India,Shooting,Gagan Narang,M,2010,2012,0,0,0,1,1,0
1,India,Shooting,Vijay Kumar,M,2010,2012,0,0,1,0,0,2

So here we can see that for India in "Shooting" max number of players are there who won medal succesively in asian and olympic.

In [21]:
gold_sports=[]
for x in games:
    result_country_sport=CountrySportWiseAthleteComparison("India",x)
    gasian=result_country_sport["Gold_Asian"].sum()
    golympic=result_country_sport["Gold_Olympic"].sum()
    
    if gasian>0 and golympic>0:
        gold_sports.append(x)
gold_sports

['Athletics']

as we can see that for India only in "Athletics" the player won medal successively in asian and olympic games.

In [22]:
result_country_sport=CountrySportWiseAthleteComparison("India",gold_sports[0])
result_country_sport

,Country,Sport,Player,Gender,Year_Asian,Year_Olympic,Gold_Olympic,Gold_Asian,Siver_Olympic,Silver_Asian,Bronze_Olympic,Bronze_Asian
0,India,Athletics,Neeraj Chopra,M,2018,2020,1,1,0,0,0,0

the player who won gold medal successively in asian and olympic games, as we can see for India "Neraj Chopra" is the only player who did this.

### Part-3

In the third part we are doing only sport wise analysis to find overall in which sport maximum numbers players won medal successively in asian and olympic games.

In [23]:
def SportWiseAthleteComparison(sport):
    asian=pd.read_csv("Players_Medal_List_Asian.csv")
    olympic=pd.read_csv("Players_Medal_List_Olympics.csv")
    
    asian_years=asian["Year"].unique()
    olympic_years=olympic["Year"].unique()
    
    df=pd.DataFrame(columns=["Sport","Country","Player","Year_Asian","Year_Olympic","Gold_Olympic",
                             "Gold_Asian","Siver_Olympic","Silver_Asian","Bronze_Olympic","Bronze_Asian"])
    
    for yasian,yolympic in zip(asian_years,olympic_years):
        asian_df1=asian[(asian["Year"]==yasian) & (asian["Sport"]==sport)]
        olympic_df1=olympic[(olympic["Year"]==yolympic) & (olympic["Sport"]==sport)]
        
        asian_df1=asian_df1[asian_df1["Sport_Type"]=="Single"]
        asian_df1.drop(columns=["Sport_Type","Event"],inplace=True)

        asian_df1=asian_df1.groupby(by=["Year","Sport","Country","Gender","Player_Name"]).sum().reset_index()
        
        olympic_df1=olympic_df1[olympic_df1["Sport_Type"]=="Individual"]
        olympic_df1.drop(columns=["Sport_Type","Host_City","Event"],inplace=True)

        olympic_df1=olympic_df1.groupby(by=["Year","Sport","Country","Gender","Name"]).sum().reset_index()
        
        result=olympic_df1.merge(asian_df1,left_on="Name",right_on="Player_Name",suffixes=('_Olympic','_Asian'))
        
        for x in result.values:
            df.loc[len(df.index)]=[x[1],x[2],x[4],x[8],x[0],x[5],x[13],x[6],x[14],x[7],x[15]]
    
    return df

In [24]:
max_player_sport=[]

for x in games:
    result_sport=SportWiseAthleteComparison(x)
    max_player_sport.append([x,len(result_sport)])
max_player_sport=sorted(max_player_sport,key=lambda x:x[1])

In [25]:
max_player_sport[-5:]

[['Diving', 37],
 ['Judo', 44],
 ['Wrestling', 48],
 ['Swimming', 51],
 ['Weightlifting', 52]]

here we can see the top 5 sports in which maximum number of players won atleast one medal successively in asian and olympic games.

In [26]:
max_player_gold_sport=[]

for x in games:
    result_sport=SportWiseAthleteComparison(x)
    result_sport=result_sport[(result_sport["Gold_Asian"]>=1) & (result_sport["Gold_Olympic"]>=1)]
    max_player_gold_sport.append([x,len(result_sport)])
max_player_gold_sport=sorted(max_player_gold_sport,key=lambda x:x[1])

In [27]:
max_player_gold_sport[-5:]

[['Judo', 12],
 ['Wrestling', 13],
 ['Gymnastics', 14],
 ['Swimming', 16],
 ['Weightlifting', 18]]

here we can see the top 5 sports in which maximum number of players won atleast one gold medal successively in asian and olympic games.